.spinner {
   width: 100px; 
}

.hidden {
    display: none;
}

header {
    text-align: center;
}

h2 {
    text-align: center;
}

li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}